/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set up base font and smooth rendering */
html {
  scroll-behavior: smooth;
  font-size: 16px;
  height : 100%;
  width : 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  height : 100%;
  width : 100%;
}

.page1{
  height: 100%;
  width: 100%;
  background-color: rgb(166, 42, 28);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page2{
  height: 100%;
  width: 100%;
  background-color: rgb(239, 149, 38);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(217, 38, 205);
}
.box1{
  height: 300px;
  width: 300px;
  background: linear-gradient(rgb(146, 157, 216) ,rgb(35, 35, 206) );
  border: 5px solid rgb(94, 95, 92);
}